<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="custBoardMapper">

	<resultMap id="resultCustBoard" type="CustBoard">
	       <result property="uuid" column="UUID" />
	       <result property="cId" column="C_ID" />
	       <result property="cCategory" column="C_CATEGORY" />
	       <result property="title" column="TITLE" />
	       <result property="cContent" column="C_CONTENT" />
	       <result property="createdAt" column="CREATED_AT" />
	       <result property="updatedAt" column="UPDATED_AT" />
	       <result property="replyYn" column="REPLY_YN" />
	       <result property="deletedAt" column="DELETED_AT" />
	       <result property="deleteYn" column="DELETED_YN" />
	       <result property="cLev" column="C_LEVEL" />
	       <result property="refNo" column="REFNO" />
	       <result property="fileUrl" column="FILE_URL" />
	       <result property="id" column="ID" />
	</resultMap>
	
	<!-- 관리자용 보드 리스트 총갯수 조회용 -->
	<select id="selectCustListCount" resultType="_int">
		select count(*)
		from tb_cust_board
	</select>
	
	<!-- 관리자용 보드 리스트 조회용 -->
	<select id="selectCustList" parameterType="Paging" resultMap="resultCustBoard">
		select *
		from (
				select rownum rnum, tb.*
			    from (
			    		select uuid, c_id, c_category, title, c_content, created_at,
			            		cb.updated_at as updated_at, reply_yn,
			            		cb.deleted_at as deleted_at, cb.deleted_yn as deleted_yn,
			            		c_level, refno, file_url, id
        				from tb_cust_board cb
				        join tb_member using (uuid)
				        order by refno desc, c_level asc
			         ) tb
		     )
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<!-- 관리자용 cId로 정보 조회해 오기용 -->
	<select id="selectCboardCid" parameterType="_int" resultMap="resultCustBoard">
		select *
		from tb_cust_board
		join tb_member using (uuid)
		where c_id = #{ cId }
	</select>
	
	<!-- 관리자용 1:1 답변 등록용 -->
	<insert id="insertReply" parameterType="CustBoard">
		insert into tb_cust_board
		values (#{ uuid }, (select max(c_id) +1 from tb_cust_board), #{ cCategory },
				#{ title }, #{ cContent }, default, null, null, null, default, #{ cLev },
				#{ refNo }, #{ fileUrl })
	</insert>
	<insert id="updateUpY" parameterType="_int">
		update tb_cust_board
		set reply_yn = 'Y'
		where c_id = #{ cId }
	</insert>
	
	<!-- 게시 원글, 댓글 삭제 처리용 -->
	<delete id="deleteCustBoard">
		delete from tb_cust_board
		<if test="cLev == 1">
			where refno = #{ refNo }
		</if>
		<if test="cLev == 2">
			where c_id = #{ cId }
		</if>
	</delete>
	<insert id="updateUpN" parameterType="_int">
		update tb_cust_board
		set reply_yn = 'N'
		where c_id = #{ refNo }
	</insert>
	
	<!-- 게시글 수정 처리용 -->
	<update id="updateOrigin" parameterType="CustBoard">
		update tb_cust_board
		set title = #{ title }, c_content = #{ cContent }
		<if test="fileUrl != null">
			, file_url = #{ fileUrl }
		</if>
		<if test="fileUrl == null">
			, file_url = null
		</if>
		where c_id = #{ cId }
	</update>
	<update id="updateUpAt" parameterType="_int">
		update tb_cust_board
		set updated_at = sysdate
		where c_id = #{ cId }
	</update>
	
	
	<!-- 일반 사용자 게시글 갯수 조회용 -->
	<select id="selectUserCbListCount" parameterType="string" resultType="_int">
		select count(*)
		from tb_cust_board
		where refno in (select c_id
		                from tb_cust_board
		                join tb_member using (uuid)
		                where id = #{ id })
	</select>
	
	<!-- 일반 사용자 내글 및 내글의 댓글 조회용 -->
	<select id="selectUserCbList" parameterType="map" resultMap="resultCustBoard">
		select *
		from ( 
		       select rownum rnum, tb.*  
		       from (
		            select *
		            from tb_cust_board
		            join tb_member using (uuid)
		            where refno in (
		                            select c_id
		                            from tb_cust_board cb
		                            join tb_member using (uuid)
		                            where id = #{ id } and cb.deleted_at is null
		                           )
		            order by refno desc, c_level asc
		            ) tb
		     )
		where rnum between #{ paging.startRow } and #{ paging.endRow }	
	</select>
	
	<!-- 일반사용자 삭제용(사용자 게시판에 숨김) -->
	<update id="updateDeleteAt" parameterType="CustBoard">
		update tb_cust_board
		set deleted_at = sysdate
		where refno = #{ refNo }
	</update>
</mapper>
