<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<!-- tiggle notice-mapper.xml ************************************************** -->
	<resultMap type="Notice" id="resultNotice">
		<result property="nNo" column="N_NO" />
		<result property="nWriter" column="N_WRITER" />
		<result property="nTitle" column="N_TITLE" />
		<result property="nDate" column="N_DATE" />
		<result property="nContent" column="N_CONTENT" />
		<result property="nFileUrl" column="N_FILE_URL" />
		<result property="nOriginalFilePath" column="N_ORIGINAL_FILEPATH" />
		<result property="nRenameFilePath" column="N_RENAME_FILEPATH" />
		<result property="nUpdatedAt" column="N_UPDATED_AT" />
		<result property="nDeletedAt" column="N_DELETED_AT" />
		<result property="nYN" column="N_YN" />
		<result property="nReadCount" column="N_READCOUNT" />
	</resultMap><!-- resultNotice end -->


	
	<!-- 공지사항 총 목록갯수 -->
	<select id="selectNoticeListCount" resultType="_int">
		select count(*) from tb_notice
	</select>

	<!-- 공지사항 총 목록 -->
	<select id="selectNoticeList" parameterType="Paging" resultMap="resultNotice">
		select *
		from (select rownum rnum, N_NO, N_WRITER, N_TITLE, N_DATE, N_CONTENT, N_FILE_URL, 
		        N_ORIGINAL_FILEPATH, N_RENAME_FILEPATH, N_UPDATED_AT, N_DELETED_AT, N_YN, N_READCOUNT
		        from (select * from tb_notice
		                order by N_DATE desc, N_NO desc))
		where rnum between #{startRow} and #{endRow}
	</select>
	
	
	
	
</mapper>
