<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgRegistMapper">

	<resultMap id="resultOrgRegist" type="OrgRegist">
	       <result property="uuid" column="UUID" />
	       <result property="totalId" column="TOTAL_ID" />
	       <result property="title" column="TITLE" />
	       <result property="contributor" column="CONTRIBUTOR" />
	       <result property="eDescription" column="E_DESCRIPTION" />
	       <result property="eventSite" column="EVENT_SITE" />
	       <result property="detailEventSite" column="DETAIL_EVENT_SITE" />
	       <result property="latitude" column="LATITUDE" />
	       <result property="longitude" column="LONGITUDE" />
	       <result property="genre" column="GENRE" />
	       <result property="contactPoint" column="CONTACT_POINT" />
	       <result property="viewCounter" column="VIEW_COUNTER" />
	       <result property="eUrl" column="E_URL" />
	       <result property="startDate" column="START_DATE" />
	       <result property="endDate" column="END_DATE" />
	       <result property="approvalStatus" column="APPROVAL_STATUS" />
	       <result property="eCategory" column="E_CATEGORY" />
	       <result property="fileUrl" column="FILE_URL" />
	       <result property="name" column="NAME" />
	       <result property="mngDept" column="MNG_DEPT" />
	       <result property="mngJobId" column="MNG_JOBID" />
	       <result property="phone" column="PHONE" />
	       <result property="email" column="EMAIL" />
	</resultMap>
	 
	<!-- 전시/박람회 정보 불러오기 -->
    <select id="selectOrgRegistByUuid" parameterType="string" resultMap="resultOrgRegist">
        select ef.*,m.name, m.mng_dept, m.mng_jobid, m.phone, m.email
		from tb_exhibition_fair ef join tb_member m on (ef.uuid = m.uuid)
		where ef.uuid = '1b2c3d4e-5f6g-7h8i-9j0k-1l2m3n4o5p6q' and rownum = '1'
    </select>
	
</mapper>
