<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgRegistMapper">

	<resultMap id="resultOrgRegist" type="OrgRegist">
	       <result property="uuid" column="UUID" />
	       <result property="totalId" column="TOTAL_ID" />
	       <result property="title" column="TITLE" />
	       <result property="localId" column="LOCAL_ID" />
	       <result property="contributor" column="CONTRIBUTOR" />
	       <result property="cntcInsttNm" column="CNTC_INSTT_NM" />
	       <result property="eDescription" column="E_DESCRIPTION" />
	       <result property="eventSite" column="EVENT_SITE" />
	       <result property="detailEventSite" column="DETAIL_EVENT_SITE" />
	       <result property="latitude" column="LATITUDE" />
	       <result property="longitude" column="LONGITUDE" />
	       <result property="genre" column="GENRE" />
	       <result property="contactPoint" column="CONTACT_POINT" />
	       <result property="viewCounter" column="VIEW_COUNTER" />
	       <result property="eUrl" column="E_URL" />
	       <result property="preiod" column="PERIOD" />
	       <result property="startDate" column="START_DATE" />
	       <result property="endDate" column="END_DATE" />
	       <result property="approvalStatus" column="APPROVAL_STATUS" />
	       <result property="eCategory" column="E_CATEGORY" />
	       <result property="fileUrl" column="FILE_URL" />
	       <result property="charge" column="CHARGE" />
	       <result property="name" column="NAME" />
	       <result property="mngDept" column="MNG_DEPT" />
	       <result property="mngJobId" column="MNG_JOBID" />
	       <result property="phone" column="PHONE" />
	       <result property="email" column="EMAIL" />
	       <result property="orgName" column="ORG_NAME" />
	       <result property="orgTel" column="ORG_TEL" />
	</resultMap>

	<!-- 기업용 쿼리 -->
	<!-- 전시등록 총 갯수 조회용 쿼리 -->
	<select id="selectListCount" resultType="_int" parameterType="string">
		select count(*)
		from tb_exhibition_fair
		where uuid = #{ uuid }
	</select>
	
	<!-- 요청한 페이지에 출력할 게시글 리스트 조회용 쿼리 -->
	<select id="selectList" resultMap="resultOrgRegist" parameterType="map">
		select *
		from (select rownum rnum, tb.*
		      from (select *
		            from tb_exhibition_fair
		            join tb_member using (uuid)
		            where uuid = #{ uuid }) tb
		      order by start_date)
		where rnum between #{ paging.startRow } and #{ paging.endRow }
	</select>
	
	<!-- 전시/박람회 등록하기(insert & update) -->
	<insert id="insertOrgRegist" parameterType="OrgRegist">
		insert into tb_exhibition_fair
		values (#{ uuid }, #{ totalId }, #{ title }, null,#{ contributor }, null, #{ eDescription },
				#{ eventSite }, #{ detailEventSite }, #{ latitude }, #{ longitude }, null,
				#{ contactPoint }, #{ viewCounter }, #{ eUrl }, null, #{ startDate }, #{ endDate },
				#{ approvalStatus }, #{ eCategory }, #{ fileUrl }, #{ charge })
	</insert>
	<update id="updateMember" parameterType="OrgRegist">			
		update tb_member
		set name = #{ name }, mng_dept = #{ mngDept }, mng_jobid = #{ mngJobId },
			phone = #{ phone }, email = #{ email }, org_name = #{ orgName }, org_tel = #{ orgTel }
		where uuid = #{ uuid }
	</update>
	
	<!-- 전시/박람회 등록시 필요한 totalid + 1 작업용 -->
	<select id="selectMaxTotalId" resultType="_int">
		select max(to_number(total_id))
		from tb_exhibition_fair
	</select>
	 
	<!-- 전시/박람회 정보 불러오기 -->
    <select id="selectOrgRegistByUuid" parameterType="string" resultMap="resultOrgRegist">
        select *
		from tb_exhibition_fair
		right join tb_member using (uuid)
		where uuid = #{ uuid } and rownum = 1
    </select>
    
    <!-- 전시/박람회 정보 수정하기 디테일페이지 -->
    <select id="selectOrgTotalId" parameterType="string" resultMap="resultOrgRegist">
        select *
		from tb_exhibition_fair
		join tb_member using (uuid)
		where total_id = #{ totalId }
    </select>
    
    <!-- 전시/박람회 정보 수정하기 -->
    <update id="updateOrgRegist" parameterType="OrgRegist">
    	update tb_exhibition_fair
    	set title = #{ title }, e_description = #{ eDescription }, event_site = #{ eventSite },
    	detail_event_site = #{ detailEventSite }, latitude = #{ latitude },	longitude = #{ longitude },
    	view_counter = 0, e_url = #{ eUrl }, start_date = #{ startDate }, end_date = #{ endDate },
		approval_status = 'N', e_category = #{ eCategory }, file_url = #{ fileUrl }, charge = #{ charge }
		where TOTAL_ID = #{ totalId }
    </update>
    
    <!-- total_id(pk)로 전시등록 삭제하기 -->
    <delete id="deleteOrgRegist" parameterType="string">
    	delete tb_exhibition_fair
		where total_id = #{ totalId }
    </delete>
    
    
    <!-- 관리자용 쿼리 -->
    <!-- 등록 신청 건 중 미승인 갯수 조회 -->
    <select id="selectApCount" resultType="_int">
    	select count(*)
    	from tb_exhibition_fair
    	where APPROVAL_STATUS = 'N'
    </select>
    
    <!-- 요청한 페이지에 출력할 등록신청 미승인 리스트 조회용 쿼리 -->
	<select id="selectApList" resultMap="resultOrgRegist" parameterType="Paging">
		select *
		from (select rownum rnum, TITLE, ORG_NAME, START_DATE, END_DATE, TOTAL_ID, E_CATEGORY
		      from (select *
		            from tb_exhibition_fair
		            join tb_member using (uuid)
		            where APPROVAL_STATUS = 'N'
		            order by e_category, start_date))
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<!-- 등록상태 Y로 변경 -->
	<update id="apStatusYn" parameterType="string">
		update tb_exhibition_fair
    	set APPROVAL_STATUS = 'Y'
    	where TOTAL_ID = #{ totalId }
	</update>
	
	<!-- API 위치 업데이트용 : 업데이트할 정보 조회 -->
	<select id="selectLocation" resultMap="resultOrgRegist">
		select *
		from tb_exhibition_fair
	</select>
	
	<!-- API 위치 업데이트 -->
	<update id="updateLocation" parameterType="OrgRegist">
		update tb_exhibition_fair
		set LATITUDE = #{ latitude }, LONGITUDE = #{ longitude }
		where TOTAL_ID = #{ totalId }
	</update>
	
	<!-- API 등록 상태 Y 처리용 -->
	<update id="updateApiApprovalY">
		update tb_exhibition_fair
		set APPROVAL_STATUS = 'Y'
		where uuid is null
	</update>
	
	<!-- API 자료 null값에따른 오류 처리용 -->
	<update id="updateNotNull">
		update tb_exhibition_fair
		set event_site = 'none'
		where event_site is null
	</update>
</mapper>
