@charset "UTF-8";
/* adminCustView.jsp */
#boardTable {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

#dataTable {
    width: 100%;
    border-left: none;
    border-right: none;
}

#dataTable th, #dataTable td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#dataTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#dataTable th, #dataTable td {
    border-left: none;
    border-right: none;
}

#dataTable tr:hover {
    background-color: #f1f1f1;
}

/* custDetailView.jsp */
#custDetail {
	margin: 30px;
}

#custTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#custInfoTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#custInfoTable th, #custInfoTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 15%;
}

#custInfoTable th {
    background-color: #f8f8f8;
}

#custContent {
    line-height: 1.6;
    margin-bottom: 30px;
}

#custActions {
    text-align: right;
}

#custActions button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

#reBtn:hover {
	background-color: #ff7a4d !important;
	color: white !important;
}

#custActions button:hover {
    background-color: #f1f1f1;
}

/* custWriteView.jsp */
#cwCon {
	margin: 30px;
}

#cwFormTable {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#cwFormTable td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
}

#cwFormTable label {
	font-weight: bold;
}

#cwTitle, #cwWriter, #cwFile, #cwCategory {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

#cwContent {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

#cwBtn {
	text-align: right;
}

#cwBtn > input {
	border: 1px solid #ccc;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

#cwBtn > input:hover {
	background-color: #ff7a4d;
	color: white;
}

#inquiryBtn {
	background-color: white;
	border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

#inquiryBtn:hover {
	background-color: #f1f1f1;
}

#cbMain {
	width: 80%;
	max-width: 1280px;
	margin: 50px auto;
}