@charset "UTF-8";

table {
	max-width: 1280px;
	width: 80%;
	margin: 0 auto; /* 테이블의 화면 중앙에 배치 */
	border-collapse: collapse; /* 셀 간의 경계를 합쳐서 하나의 경계로 표시 */
}

#mapOuter > td {
	border: 1px solid #ccc; /* 셀의 경계를 회색으로 설정 */
	padding: 10px; /* 셀 내부 여백 지정 */
	text-align: center; /* 셀 안의 텍스트 가운데 정렬 */
}

#mapOuter{
	margin: 50px 0 20px;
}

#map {
	width: 100%;
	height: 450px;
}

#mapTitle {
	color: #ff5f2c;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: left;
}

#titleform {
	text-align: right;
}

/* 검색창 스타일 */
#titleform input[type="search"] {
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 5px;
    border-top-right-radius: 0;  /* 우측 상단 둥근 모서리 제거 */
    border-bottom-right-radius: 0;  /* 우측 하단 둥근 모서리 제거 */
    margin: 0;  /* 불필요한 여백 제거 */
    display: inline-block;  /* 검색창과 버튼을 나란히 배치 */
    vertical-align: middle;  /* 버튼과 높이 맞춤 */
}

/* 버튼 스타일 */
#titleform input[type="submit"] {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    border-left: 0;  /* 검색창과 버튼 사이 경계 제거 */
    border-top-left-radius: 0;  /* 좌측 상단 둥근 모서리 제거 */
    border-bottom-left-radius: 0;  /* 좌측 하단 둥근 모서리 제거 */
    margin: 0;  /* 불필요한 여백 제거 */
    display: inline-block;  /* 검색창과 버튼을 나란히 배치 */
    vertical-align: middle;  /* 검색창과 높이 맞춤 */
}

/* 검색 버튼에 호버 효과 */
#titleform input[type="submit"]:hover {
    background-color: #e0e0e0;  /* 버튼에 마우스 올렸을 때 배경색 변경 */
}


