@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.bc_333 {border-color: #333 !important;}
.bc_ddd {border-color: #ddd !important;}
.bg_eee {background: #eee !important;}

/* loginPage.jsp*/
.container {width: 100%; max-width: 1280px; margin: 60px auto;}
.l_title {width: 100%; display: flex; justify-content: center; position: relative; left: -10px;}
.l_title > img {width: 45px; display: block; margin-right: 15px;}
.l_title > p {font-size: 44px; font-weight: bold;}
/* l_select end */

.login_wrap {width: 400px; margin: 60px auto 100px;}

.loginform {width: 100%;}
.loginform > form {width: 100%;}
.loginform div {width: 100%; border: 1px solid #ddd; box-sizing: border-box;}
.login_input {display: block; width: 100%; height: 55px; box-sizing: border-box; margin: 0 auto; border: 0; outline: none; padding:
3px 20px;}
#login_id {border-bottom: 1px solid #ddd; box-sizing: border-box;}
.l_submit_btn {display: block; width: 100%; box-sizing: border-box; height: 50px; border: none; margin: 25px 0; font-size: 18px; font-weight: bold; cursor: pointer; transition: all 0.3s; background: #eee;}
.l_submit_btn:hover {background: #ff5f2c; color: #fff;}
/* loginform end */

.find_wrap {display: flex; justify-content: center; align-items: center;}
.find_wrap > li {font-size: 14px;}
.find_wrap > li:nth-child(2) {margin: 0 5px;}
.find_wrap a:hover {font-weight: bold;}
/* find_wrap end */

.enroll_btn {display: block; width: 100%; box-sizing: border-box; height: 50px; border: none; margin: 25px 0; font-size: 18px; font-weight: bold; cursor: pointer; transition: all 0.3s; background: #eee;}
.enroll_btn:hover {background: #ff5f2c; color: #fff;}
/* enroll_btn end */
/* loginPage.jsp end */



/* tos_wrap.jsp */
.tos_section {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;}
.tos_wrap {width: 80%; max-width: 450px; padding: 25px; border: 1px solid #ddd; margin: 100px auto;}
.tos_title {display: flex; align-items: center; margin-bottom: 30px;}
.tos_title > img {display: block; width: 45px; margin-right: 20px;}
.tos_title > p {font-size: 36px; font-weight: bold;}
/* tos_title end */

.tos_content {width: 100%;}
.tos_form {width: 100%;}
.tos_check_all {display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 20px;}
#check_all {width: 20px; height: 20px; margin-right: 10px;}
.tos_check_all > label {font-size: 18px;}
.tos_check_all > p {width: calc(100% - 30px); margin-left: 30px; font-size: 14px; margin-top: 10px;}
/* tos_check_all end */

.tos_list {width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px 0 10px;}
.tos_box {position: relative; display: flex; align-items: center; flex-wrap: wrap; margin: 20px 0;}
.tos_box > input {width: 20px; height: 20px; margin-right: 10px;}
.tos_box > label {font-size: 18px;}
.tos_txt_btn {position: absolute; right: 0; border: 1px solid #ddd; padding: 6px 12px; font-size: 12px;}
.tos_txt_btn:hover {background: #eee;}
.tos_list > li:last-child > p {width: calc(100% - 30px); margin-left: 30px; font-size: 14px; margin-top: 10px;}
/* tos_list end */

.org_tos {width: 100%; padding: 20px 0; display: flex; align-items: center; flex-wrap: wrap;}
.org_tos > input {width: 20px; height: 20px; margin-right: 10px;}
.org_tos > label {font-size: 18px;}
.org_tos > p {width: calc(100% - 30px); margin-left: 30px; font-size: 14px; margin-top: 10px; color: #ff5f2c; font-weight: bold;}
/* org_tos end */

.agree_btn {width: 100%; height: 45px; text-align: center; line-height: 45px; font-size: 16px; cursor: default; background: #ff5f2c; color: #fff; font-weight: bold; cursor: pointer; transition: all 0.3s;}
.agree_btn:disabled {opacity: 0.2; font-weight: normal; cursor: not-allowed;}
/* tos_content end */

.tos_move_home {text-align: center; opacity: 0.5; font-size: 13px; margin-top: 25px;}
.tos_move_home:hover {opacity: 1; font-weight: bold;}
/* tos_wrap.jsp end */



/* enrollPage.jsp */
.enroll_section {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;}

.enroll_top {width: 80%; max-width: 450px; position: absolute; top: 30px; left: 0; right: 0; margin: 0 auto; display: flex; justify-content: space-around; align-items: center;}
.e_top_title {font-size: 18px; position: relative; left: -30px;}
/* enroll_top end */

.enroll_wrap {width: 80%; max-width: 450px; padding: 25px; border: 1px solid #ddd; margin: 0 auto; position: absolute; top: 120px;}

.enroll_box {width: 100%;}
.enroll_list {display: flex; align-items: center; border-bottom: 1px solid #ddd; padding: 15px 0;}
.enroll_box > .enroll_list:first-child {padding-top: 0;}
.enroll_box > .enroll_list:nth-child(3) {border-bottom-color: #333;}
.enroll_box > .enroll_list:nth-child(6) {border-bottom-color: #333;}
.enroll_list > p {width: 130px; font-size: 18px;}
.enroll_list > input {height: 28px; width: 40%; border: none; outline: none;}
.enroll_list > input:nth-of-type(2) {position: absolute; right: 25px; width: 110px; height: 32px; line-height: 32px; font-size: 14px; background: #fff; border: 1px solid #ddd; cursor: pointer;}
.enroll_list > input:nth-of-type(2):hover {background: #eee;}

.e_success_btn {width: 100%; height: 45px; text-align: center; line-height: 45px; font-size: 16px; cursor: default; background: #ff5f2c; color: #fff; font-weight: bold; cursor: pointer; transition: all 0.3s; margin-top: 25px;}
.e_success_btn:disabled {opacity: 0.2; font-weight: normal; cursor: not-allowed;}
/* enrollPage.jsp end */



/* myInfoPage.jsp */
.myinfo_section {width: 100%; max-width: 1280px; margin: 60px auto; display: flex;}

.myinfo_aside {width: 25%; border-right: 1px solid #ddd; box-sizing: border-box;}
.mypage_title {font-weight: bold; font-size: 36px; padding-top: 20px; margin-bottom: 30px; text-align: right; padding-right: 30px; box-sizing: border-box;}

.myinfo_aside > nav {width: 100%;}
.left_menu {width: 100%; margin: 0 auto; box-sizing: border-box; padding: 0 30px; text-align: right;}
.left_menu > li {border-bottom: 1px solid #ddd; font-size: 18px; padding: 15px 0;}
.left_menu > li > a {padding-right: 15px; transition: all 0.2s;}
.left_menu > li:hover > a {font-weight: bold; color: #ff5f2c;}
/* myinfo_aside end */

.myinfo_content {width: 75%; box-sizing: border-box; padding: 20px;}
.myinfo_title {border-bottom: 1px solid #333;}
.myinfo_title > p {margin-bottom: 20px; font-size: 24px; font-weight: bold; color: #ff5f2c; padding-left: 10px;}

.myinfo_list {display: flex; align-items: center; padding: 15px 0; border-bottom: 1px solid #ddd;}

.myinfo_list > p {font-size: 18px; width: 130px; font-weight: bold; padding-left: 10px;}
.myinfo_list > input {font-size: 15px; border: 0; outline: 0; border: 1px solid #ddd; padding: 8px; margin-right: 15px;}
.myinfo_list span {font-size: 13px; color: #999;}

/* myinfo_list 개별css */
#myinfo_address {width: calc(75% - 150px);}

.myinfo_btn {width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 30px;}
.myinfo_btn > input {width: 130px; height: 45px; line-height: 45px; font-size: 16px; font-weight: bold; border: 1px solid #ddd; text-align: center; margin: 0 10px; cursor: pointer; transition: all 0.2s; font-family: "Pretendard Variable" !important;}
.myinfo_btn > input:hover {background: #ff5f2c; color: #fff; border-color: #ff5f2c;}

@media all and (max-width: 1280px) {
    .myinfo_section {flex-direction: column; margin-top: 10px;}
    .myinfo_aside {border-right: 0; width: 100%;}
    .mypage_title {text-align: center; padding-right: 0; margin-bottom: 30px;}

    .left_menu {padding: 0; display: flex; text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
    .left_menu > li {width: 25%; border-right: 1px solid #ddd; border-bottom: 0; padding: 0;}
    .left_menu > li:last-child {border-right: 0;}
    .left_menu > li > a {padding: 15px 0; font-size: 16px; display: block; width: 100%; height: 100%;}
    /* myinfo_aside end */

    .myinfo_content {width: 100%; padding-top: 30px;}
    .myinfo_list {flex-direction: column; align-items: flex-start; padding: 15px 10px;}
    .myinfo_list > p {padding-left: 0;}
    .myinfo_list > input {margin-top: 10px; margin-bottom: 10px; width: calc(100% - 20px);}
    #myinfo_address {width: calc(100% - 20px);}
}
/* myinfo_content end */
/* myInfoPage.jsp end */



/* deleteMemberPage.jsp */
.myinfo_wrap {width: 100%; box-sizing: border-box; padding: 25px 0 15px;}
.orginfo_top {margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #333;}
.orginfo_top > p {font-size: 16px; margin-bottom: 5px; box-sizing: border-box; padding-left: 15px;}
.orginfo_top > p:nth-child(1), .orginfo_top > p:nth-child(2) {font-size: 24px;}
.orginfo_top > p:nth-child(1) > span {color: #ff5f2c; font-weight: bold;}
.orginfo_top > p:nth-child(2) {margin-bottom: 15px;}
/* orginfo_top end */

.orginfo_bt {box-sizing: border-box; padding: 0 15px;}
.orginfo_bt > p {font-size: 18px; margin-bottom: 25px;}
.del_reason_list {margin-bottom: 15px; display: flex; align-items: center;}
.del_reason_list > input {width: 20px; height: 20px; margin-right: 10px;}
.del_reason_list > span {font-size: 16px;}

.del_agree {display: flex; align-items: center; margin-top: 50px;}
.del_agree > input {width: 20px; height: 20px; margin-right: 10px;}
.del_agree > span {font-size: 16px;}

.del_btn_wrap {width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 50px;}
.del_btn_wrap > input {width: 130px; height: 45px; line-height: 45px; font-size: 16px; font-weight: bold; border: 1px solid #ddd; text-align: center;margin: 0 10px; cursor: pointer; transition: all 0.2s; font-family: "Pretendard Variable" !important;}
.del_btn_wrap > input:hover {background: #ff5f2c; color: #fff; border-color: #ff5f2c;}
/* orginfo_bt end */
/* deleteMemberPage.jsp end */