@charset "utf-8";
/* loginPage.jsp*/
.container {width: 100%; max-width: 1280px; margin: 60px auto;}
.l_title {width: 100%; display: flex; justify-content: center; position: relative; left: -10px;}
.l_title > img {width: 45px; display: block; margin-right: 15px;}
.l_title > p {font-size: 44px; font-weight: bold;}
/* l_select end */

.login_wrap {width: 400px; margin: 60px auto 100px;}

.loginform {width: 100%;}
.loginform > form {width: 100%;}
.loginform div {width: 100%; border: 1px solid #ddd; box-sizing: border-box;}
.login_input {display: block; width: 100%; height: 55px; box-sizing: border-box; margin: 0 auto; border: 0; outline: none; padding:
3px 20px;}
#id {border-bottom: 1px solid #ddd; box-sizing: border-box;}
.l_submit_btn {display: block; width: 100%; box-sizing: border-box; height: 50px; border: none; margin: 25px 0; font-size: 18px; font-weight: bold; cursor: pointer; transition: all 0.3s; background: #eee;}
.l_submit_btn:hover {background: #ff5f2c; color: #fff;}
/* loginform end */

.find_wrap {display: flex; justify-content: center; align-items: center;}
.find_wrap > li {font-size: 14px;}
.find_wrap > li:nth-child(2) {margin: 0 5px;}
.find_wrap a:hover {font-weight: bold;}
/* find_wrap end */

.enroll_btn {display: block; width: 100%; box-sizing: border-box; height: 50px; border: none; margin: 25px 0; font-size: 18px; font-weight: bold; cursor: pointer; transition: all 0.3s; background: #eee;}
.enroll_btn:hover {background: #ff5f2c; color: #fff;}
/* enroll_btn end */
/* loginPage.jsp end */



/* tos_wrap.jsp */
.tos_wrap {width: 450px; padding: 25px; border: 1px solid #ddd; margin: 100px auto;}
.tos_title {display: flex; align-items: center; margin-bottom: 20px;}
.tos_title > img {display: block; width: 45px; margin-right: 20px;}
.tos_title > p {font-size: 36px; font-weight: bold;}
/* tos_title end */

.all_check {border-bottom: 1px solid #ddd; padding-bottom: 20px;}
.tos_checkbox {display: flex; align-items: center;}
.tos_checkbox > input {width: 20px; height: 20px; margin: 10px 0;}
.tos_txt {font-size: 18px; margin-left: 10px;}
.all_check > p {width: 90%; margin-left: 30px;}

.tos_list {border-bottom: 1px solid #ddd; padding: 10px 0 20px;}
.tos_list_item {display: flex; justify-content: space-between; align-items: center; margin: 5px 0;}
.tos_list > .tos_list_item:last-child {display: flex; flex-wrap: wrap;}
.tos_list > .tos_list_item:last-child .tos_checkbox {width: 100%;}
.tos_list > .tos_list_item:last-child > p {margin-left: 30px; font-size: 15px; color: #999;}
.tos_list_item > button {border: 1px solid #ddd; padding: 7px 13px; transition: all 0.3s;}
.tos_list_item > button:hover {background: #eee;}
/* tos_wrap.jsp end */



/* enrollPage.jsp */


/* enrollPage.jsp end */